@model IEnumerable<Models.Transaction>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-4">
                    @item.DateTransaction
                </div>
            </div>
            <div class="col-5">
                @item.Description
            </div>
            <div class="col-3">
                <td>
                    <div class="row">
                        <a asp-controller="Transactions" asp-action="UpdateTransactions"
                            asp-route-transactionId="@item.TransactionId"
                            class="btn btn-sm btn-outline-primary rounded-circle">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>

                        <form asp-controller="Categories" asp-action="DeleteCategory"
                            asp-route-transactionId="@item.TransactionId">
                
                        <button type="submit" class="btn btn-sm btn-outline-danger rounded-circle">
                            <i class="fa fa-times-circle"></i>
                        </button>
                        </form>
                    </div>
                </td>
            </div>
        </li>
    }
</ul>